

.div{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bolsonaro-dancarino {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    
}

.lista {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
}


